<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!-- 扫描包 -->
    <context:component-scan base-package="com.javazx.batch"/>

    <!-- 加载配置文件 -->
    <context:property-placeholder location="classpath:properties/*.properties"/>

    <!-- 导入配置文件 -->
    <import resource="classpath:spring/spring-datasource.xml"/>
    <import resource="classpath:spring/spring-jdbc.xml"/>
    <import resource="classpath:spring/batch-context.xml"/>
    <import resource="classpath:spring/user-batch.xml"/>
    <import resource="classpath:spring/quartz-context.xml"/>

</beans>