<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="userFromDruidDataSource" />
	</bean>

	<!-- reader sqlSessionFactory -->
	<bean id="sqlSessionFactoryFrom" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="userFromDruidDataSource" />
		<property name="mapperLocations"
			value="classpath:sqlmap/UserFromMapper.xml" />
	</bean>
	
	<bean  class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryFrom" />
		<property name="basePackage" value="com.javazx.batch.dao" />
	</bean>

	<!-- writer sqlSessionFactory -->
	<bean id="sqlSessionFactoryTo" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="userToDruidDataSource" />
		<property  name="configLocation" value="WEB-INF/sqlMapConfig.xml" />
		<property name="mapperLocations"
				  value="classpath:sqlmap/UserToMapper.xml" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryTo"/>
		<property name="basePackage" value="com.javazx.batch.dao" />
	</bean>

</beans>
