<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!-- 配置Spring配置文件路径 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:spring/applicationContext.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- log.back-begin -->
    <context-param>
        <param-name>logbackConfigLocation</param-name>
        <param-value>classpath:log/logback.xml</param-value>
    </context-param>

    <listener>
        <listener-class>com.javazx.batch.logback.LogbackConfigListener</listener-class>
    </listener>
    <!-- log.back-end -->


</web-app>
